.card {
  @include reset-list;
}

.card__title {
  margin: 16px 0 0 0;
  font-size: 32px;
  font-weight: inherit;
  line-height: 32px;
  color: $dark-blue;
}

.card__text {
  margin: 16px 4px 16px 0;
  font-size: 18px;
  line-height: 28px;
}
