.card {
  @include reset-list;
}

.card__title {
  margin: 16px 0 0 0;
  font-size: 32px;
  font-weight: inherit;
  line-height: 32px;
  color: $dark-blue;
}

@media (min-width: $width-tablet) {
  .card__title {
    font-size: 48px;
    line-height: 56px;
  }
}

@media (min-width: $width-desktop) {
  .card__title {
    margin-top: 24px;
  }
}

.card__text {
  margin: 16px 4px 16px 0;
  font-size: 18px;
  line-height: 28px;
}

@media (min-width: $width-tablet) {
  .card__text {
    margin-bottom: 4px;
    margin-right: 49px;
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: $width-desktop) {
  .card__text {
    width: 65%;
    margin-right: 0;
    margin-bottom: 8px;
  }
}
