.characteristics {
  border-top: 1px solid $lighter-grey;
  border-bottom: 1px solid $lighter-grey;
}

@media (min-width: $width-tablet) {
  .characteristics__fieldset-wrapper {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 72px;
  }
}

@media (min-width: $width-desktop) {
  .characteristics__fieldset-wrapper {
    grid-column-gap: 56px;
    margin-top: 16px;
  }
}

.characteristics__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.characteristics__block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 16px;
}

@media (min-width: $width-tablet) {
  .characteristics__block {
    display: grid;
    grid-template-columns: 152px auto;
    grid-column-gap: 72px;
  }
}

@media (min-width: $width-desktop) {
  .characteristics__block {
    grid-template-columns: 104px auto;
    grid-column-gap: 56px;
  }
}
