.collections {
  @include container;
  margin-top: 40px;
}

.collections__list {
  @include reset-list;
  margin-top: 8px;
}

.collections__item {
  min-height: 160px;
  display: flex;
  align-items: flex-end;
  color: $white;
  background-color: $light-grey;
  background-repeat: no-repeat;
  border-radius: 4px;

  &--first {
    background-image: url("../img/collection-1.jpg");
  }

  &--second {
    background-image: url("../img/collection-2.jpg");
  }
}

@media (min-width: $width-tablet) {
  .collections__item {
    min-height: 287px;

    &--first {
      background-image: url("../img/collection-1-tablet.jpg");
    }

    &--second {
      background-image: url("../img/collection-2-tablet.jpg");
    }
  }
}

.collections__item + .collections__item {
  margin-top: 16px;
}

.collections__item-inner {
  padding: 12px 16px;
}

.collections__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

@media (min-width: $width-tablet) {
  .collections__title {
    font-size: 40px;
    line-height: 1;
  }
}

.collections__text {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  opacity: 0.5;
}

@media (min-width: $width-tablet) {
  .collections__text {
    font-size: 18px;
    line-height: 1;
  }
}
