.color {
  margin-top: 16px;
}

@media (min-width: $width-tablet) {
  .color {
    margin-top: 24px;
  }
}

@media (min-width: $width-desktop) {
  .color {
    margin-top: 0;
  }
}

.color__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.color__item + .color__item {
  margin-left: 4px;
}

.color__label {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

@media (min-width: $width-desktop) {
  .color__label {
    width: 32px;
    height: 32px;
  }
}

.color__radio-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--dark-blue {
    background-color: $dark-blue;
  }

  &--grey {
    background-color: $grey;
  }

  &--blue {
    background-color: $blue;
  }
}

@media (min-width: $width-desktop) {
  .color__radio-icon {
    width: 26px;
    height: 26px;
  }
}

.color__input:checked + .color__label .color__radio-icon::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  border: 1px solid $dark-blue;
  border-radius: 50%;
}

@media (min-width: $width-desktop) {
  .color__input:checked + .color__label .color__radio-icon::before {
    width: 32px;
    height: 32px;
  }
}
