.cost {
  width: 50%;
}

@media (min-width: $width-tablet) {
  .cost {
    width: auto;
  }
}

.cost__value {
  line-height: 40px;
}

.cost__integer {
  font-size: 40px;
  color: $light-brown;
}

.cost__decimal {
  font-size: 28px;
}
