.newsletter {
  @include container;
  margin-top: 52px;
  padding-bottom: 16px;
}

@media (min-width: $width-tablet) {
  .newsletter {
    margin-top: 48px;
    padding-bottom: 29px;
  }
}

.newsletter__title {
  margin: 0;
  font-size: 24px;
  font-weight: inherit;
  line-height: 32px;
  color: $dark-blue;
}

@media (min-width: $width-tablet) {
  .newsletter__title {
    font-size: 32px;
    line-height: 40px;
  }
}

.newsletter__text {
  margin: 8px 20px 0 0;
  font-size: 18px;
  line-height: 28px;
}

@media (min-width: $width-tablet) {
  .newsletter__text {
    margin-top: 0;
  }
}
