.newsletter {
  @include container;
}

.newsletter__title {
  margin: 0;
  font-size: 24px;
  font-weight: inherit;
  line-height: 32px;
  color: $dark-blue;
}

.newsletter__text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}
