.page__item--scroll {
  @include container;
}

@media (min-width: $width-desktop) {
  .page__wrapper {
    @include container;
    display: flex;
  }

  .page__item--slider {
    width: 44.12%;
  }

  .page__item--scroll {
    position: relative;
    width: 55.88%;
    max-height: 768px;
    overflow-y: auto;
    padding-left: 92px;
    padding-right: 61px;
  }
}
