.size {
  margin-top: 24px;
}

@media (min-width: $width-desktop) {
  .size {
    margin-top: 0;
  }
}

@media (min-width: $width-tablet) {
  .size__inner {
    display: flex;
    align-items: center;
  }
}

@media (min-width: $width-desktop) {
  .size__inner {
    margin-top: 8px;
  }
}

.size__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-12px);
}

@media (min-width: $width-desktop) {
  .size__list {
    transform: translateX(-6px);
  }
}

.size__item + .size__item {
  margin-left: 8px;
}

.size__label {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

@media (min-width: $width-desktop) {
  .size__label {
    width: 32px;
    height: 32px;
  }
}

.size__radio-icon {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  transition: all .35s ease-in-out;
}

@media (min-width: $width-desktop) {
  .size__radio-icon {
    font-size: 16px;
  }
}

.size__input:checked + .size__label .size__radio-icon {
  font-size: 28px;
  color: $dark-blue;
}

@media (min-width: $width-desktop) {
  .size__input:checked + .size__label .size__radio-icon {
    font-size: 20px;
  }
}

.size__label .size__radio-icon::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  border: 1px solid rgba($dark-blue, 0);
  border-radius: 50%;
  transition: all .35s ease-in-out;
  transform: scale(0.5);
}

@media (min-width: $width-desktop) {
  .size__label .size__radio-icon::before {
    width: 32px;
    height: 32px;
  }
}

.size__input:checked + .size__label .size__radio-icon::before {
  border-color: rgba($dark-blue, 1);
  transform: scale(1);
}

/*
.size__input:checked + .size__label .size__radio-icon::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 48px;
  height: 48px;
  border: 1px solid $dark-blue;
  border-radius: 50%;
}
 */

.size__input:disabled + .size__label .size__radio-icon {
  color: $lighter-grey;
}

.size__button {
  margin-top: 24px;
}

@media (min-width: $width-tablet) {
  .size__button {
    margin-top: 0;
    margin-left: 40px;
  }
}

@media (min-width: $width-desktop) {
  .size__button {
    margin-left: 24px;
  }
}
