.slider__slide {
  background-repeat: no-repeat;
  background-color: $light-brown;
  background-position: center;
  background-size: cover;

  &--first {
    background-image: url("../img/slider-img1.jpg");
  }

  &--second {
    background-image: url("../img/slider-img2.jpg");
  }

  &--third {
    background-image: url("../img/slider-img3.jpg");
  }
}

@media (min-width: $width-tablet) {
  .slider__slide {
    background-position: top;
  }
}

.slider__content {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 600px;
  padding-top: 24px;
  padding-bottom: 27px;
  color: $white;
}

.slider__title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

@media (min-width: $width-tablet) {
  .slider__title {
    font-size: 64px;
  }
}

.slider__description {
  margin: 0;
  opacity: 0.8;
}

@media (min-width: $width-tablet) {
  .slider__description {
    font-size: 24px;
    line-height: 32px;
  }
}
