.slider__content {
  @include container;
  color: $white;
  background-color: $light-brown;
}

.slider__title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

.slider__description {
  margin: 0;
  opacity: 0.8;
}
