.spoiler__button {
  width: 100%;
  display: block;
  font-size: inherit;
  font-weight: inherit;
  line-height: 32px;
  text-align: left;
  color: $dark-blue;
  border-bottom: 1px solid $lighter-grey;
}
