html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Rajdhani", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: $grey;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
