@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

@mixin container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  margin: 0 auto;

  /*@media (min-width: $width-tablet) {
    padding-left: 16px;
    padding-right: 16px;
  }*/

  @media (min-width: $width-desktop) {
    max-width: 1390px;
  }
}
